# Official Tournament

In [1]:
from pyETT import ett

Eleven has been running monthly official tournaments since April/2021. The tournaments draw interest from top players as well as upcoming ones who are looking to become more competitive. After each tournament, each player may gain rankings points and at the end of the year the top ranked players will compete on an year-end tournament to determine who's the best player of the year. We can obtain the current standinds of the rankings points as follows:

In [4]:
ett.official_tournament_leaderboard_dataframe().head(10)

   Ranking        Player  April    May   June  July  Aug  Total
0        1      Aiphaton  175.0   40.0   90.0   NaN  NaN    305
1        2  lapoctopus90    NaN   90.0  125.0   NaN  NaN    215
2        3       ProTTVR  125.0   60.0   15.0   NaN  NaN    200
3        4         yedat   15.0  125.0    NaN   NaN  NaN    140
4        5        porter   40.0   15.0   60.0   NaN  NaN    115
5        6      ALIASREK   90.0    NaN   10.0   NaN  NaN    100
6        7   twISTer1979   25.0   25.0   40.0   NaN  NaN     90
7        8     PixelFire   60.0   10.0   15.0   NaN  NaN     85
8        9         l4mbo   40.0   15.0   10.0   NaN  NaN     65
9        9      fmwallin   25.0   25.0   15.0   NaN  NaN     65

Not surprisingly, the highest ranked players are at the top of ETT's leaderboard:

In [3]:
ett.ETT().get_leaderboard_dataframe()

       id          name     elo  rank  wins  losses               last_online
0  385684         yedat  3135.2     0  1001     275  2021-07-08T21:55:09.544Z
1  183811       PROTTVR  3095.0     1   877     165  2021-07-07T17:28:18.291Z
2  234850  lapoctopus90  3087.1     2   723     250  2021-07-06T18:19:59.324Z
3   20585      fmwallin  3018.0     3  1603     943  2021-07-08T20:14:53.095Z
4  289382     gselvas92  3002.0     4   986     364  2021-07-08T18:02:14.002Z
5  372961     sunking73  2995.5     5   599     251  2021-06-20T11:44:49.214Z
6  428341         NPiet  2995.0     6   979     193  2021-06-25T07:22:35.945Z
7   11002   twISTer1979  2990.6     7  2455     941  2021-07-08T18:27:03.773Z
8    4410   wurstfriedl  2989.0     8  2212     932  2021-07-08T16:24:15.480Z
9    3831     alexttbcn  2980.0     9  1303     618  2021-07-02T09:41:40.627Z

Players with an Elo rating greater than 2000 at any day of the preceding month have direct entry to the tournament. Players who had an Elo under 2000 at any point in the previous month, can qualify by entering a qualifying tournament. We can verify if a player have direct entry or can qualify by instantiating an object of the Class **Tournament** as follows:

In [5]:
players = [ett.Player(id) for id in [357217, 348353, 12345]]
ett.Tournament(players).qualify(elo_min=2000, start="2021-06-01", end="2021-06-30")

,mean,min,max,direct_entry,can_qualify,id,name
0,1863.069231,1743.8,1974.8,0,1,357217,Cyrillus82
1,1984.258741,1923.5,2019.5,1,1,348353,highlanderNJ
2,1500.000000,1500.0,1500.0,0,1,12345,PastaAndPasta

We observe that the player ``highlanderNJ`` have direct entry to July's official tournament as his max Elo within June is over 2000. He also has the option to play in the qualifying tournament as his min Elo rating in June is under 2000. The players  ``Cyrillus82`` and ``PastaAndPasta`` can only enter the qualifying tournament as their max Elo in June did not surpass the 2000 threshold.

An app is available at https://ett-monthly.herokuapp.com/ offering an easy to use UI constructed on top of this library, currently in use by the organizers of the official tournament when validating player entry.